html {
  scroll-behavior: smooth;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #29f3c3);
}

.section-two {
  border-right: 0px solid #ffffff00;
  border-radius: 40em 0px 25% 0px;
}

.line-gradient-dark {
  background: linear-gradient(to left, #743ad5, #29f3c3);
  height: 1px;
  z-index: 999999;
}

.line-gradient-white {
  background: linear-gradient(to right, #6b6b6b, #cecece);
  height: 1px;
}

.grow-skills {
  transform: scale(1);
  transition: all ease 0.2s;
  opacity: 0.7;
}
.grow-skills:hover {
  transform: scale(1.2);
  opacity: 1;
}

.social-icons {
  transition: filter 0.2;
}
.social-icons:hover {
  filter: brightness(0.8);
}

.project-name {
  transition: filter 0.2;
}
.project-name:hover {
  transition: filter 0.2;
  text-decoration: underline;
}
